.reviews-section {
    padding-top: 109px;
    padding-bottom: 100px;
    background-color:#f8f8f8;
}
.reviews-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 68px;
}
.reviews-section-list-item:not(:last-child) {
    margin-right: 60px;
}
.reviews-text {
    margin-bottom: 30px;
    color: $main-color;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}
.reviews-text-name {
    color: $main-color;
    font-size: 20px;
    text-align: center;
}

.slider-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 350px;
    }
    .review-testimonials-picture {
      display: inline-block;
    }
    .slider {
      position: relative;
      width: inherit;
      height: inherit;
      color: black;
      
  
      .slides {
        position: absolute;
        width: inherit;
        height: inherit;
        width: 100%;
        
        opacity: 0;
        z-index: 0;
        transition: opacity 0.5s ease-in-out;

      }
    }
  
  .radio {
      display: none;
    }
  
    .controls { 
      z-index: 2;
      left: 44%;
      bottom: 0%;
   }
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 25px 12px 0 16px;
        border-radius: 50%;
  
        &:focus {
          background: $accent-color;
        }
  
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          content: ' ';
          width: 12px;
          height: 12px;
          border: 1px solid $main-color;
          border-radius: 50%;
        }
      }
    
  
    #slide1:checked ~ .controls label:nth-of-type(1),
    #slide2:checked ~ .controls label:nth-of-type(2),
    #slide3:checked ~ .controls label:nth-of-type(3) {
      &:after {
        border: 0;
        background-color: $accent-color;
       
      }
      &:hover {
        background-color: transparent;
      }
      & svg {
        display: block;
      }
    }
  
    #slide1:checked ~ .slider > .slide1,
    #slide2:checked ~ .slider > .slide2,
    #slide3:checked ~ .slider > .slide3 {
      opacity: 1;
      z-index: 1;
    }
  